**/*.pyc
**/.ipynb_checkpoints
**/.ipynb_checkpoints/*
**/__pycache__
.DS_Store
**/.DS_Store
dataset
dataset/**
.idea/
development/Wiener
development/**/
development/*.pdf
development/*.png
development/*.jpg
development/*.h5
development/*.csv
development/*.txt
development/*.pkl
**/*.tar.gz
locks/**